.flist{
	
}
.list1{
	display:flex;
	padding-left:0.13rem;
}
.active{
	border-bottom:3px solid #fe6e00;
}
.list1 span{
	display:block;
	height:45px;
	width:1.75rem;
	font-size:16px;
	text-align:center;
	border-bottom:1px solid #fe6e00;
	line-height:45px;
}
