.btn{
	width:160px;
	height:30px;
	margin:0 auto;
	border:1px solid #888;
	border-radius:30px;
	text-align:center;
	margin-top:20px;
	margin-bottom:30px;
	font-size:14px;
	line-height:30px;
	color:#888;
}